@model UpdateProductVm
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter Name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Enter Description">
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" placeholder="Enter Price">
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile">Image</label>
        <input asp-for="ImageFile" class="form-control">
        <span asp-validation-for="ImageFile"></span>
    </div>
    <button type="submit" class="btn btn-primary" asp-action="Edit">Submit</button>
</form>